.footer__container {
    padding-top: 57px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: var(--prices-color);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.2em;
}

.footer__list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: var(--secondary-title-color);
}

.footer__item:not(:last-child) {
    margin-right: 40px;
}

.footer__link {
    color: var(--secondary-title-color);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-transform: none;
}