body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);

    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.no-scroll {
    overflow: hidden;
}